@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}
/* Shared styles */
*{
    margin: 0;
}
.btn-1{
    background-color: rgb(230, 83, 60);
    /* border: 5px solid rgb(230, 83, 60); */
    border-radius: 49px;
    font-weight: 600;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}
.btn-2{
    font-family: Inter;
    color: rgb(255,255,255);
    font-size: 1rem;
    font-weight: 600;
    background: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 42px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.btn-3{
    font-family: Inter;
    color: rgb(255,255,255);
    font-size: 1rem;
    font-weight: 600;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255,255,255);
    border-radius: 42px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.text-style-1{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.875rem;
}
.text-style-2{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;  
}
.text-style-3{
    color: rgb(255,255,255);
    font-size: 2.25rem;
    font-weight: 900;
}
.text-style-4{
    color: rgb(255,255,255);
}

/* header styles */
.header-bg{
    background: linear-gradient(to top, rgb(17, 17, 17),rgba(119, 119, 119, 0) 1000%);
}
.navbar {
    /* margin-left: 11.87rem;
    margin-right: 11.87rem; */
    padding-top: 3.65625rem;
    color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.box1{
    list-style: none;
    display: flex;
    align-items: center;
    border: 1px solid rgb(255,255,255,0.1);
    border-radius: 49px;
    gap: 2.9375rem;
    padding: 2px;
    padding-right: 1.25rem;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.banner-header{
    margin-top: 1.5rem;
    font-family: Inter;
    color: rgb(255,255,255);
    height: 17.625rem;
    width: 32%;
}
.shape{
    font-family: miama;
    font-weight: 400;
    font-size: 4.875rem;
}
.get-body{
    font-weight: 900;
    font-size: 4.875rem;
    margin: 1.75rem 0;
}

.description{
    padding-bottom: 1.75rem;
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.banner-photo{
    position: relative;
}
.special-card1{
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    text-align: left;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 55%;
    height: 12%;
    padding: 0.5rem;
    position: absolute;
    top: 27rem;
    right: 16rem;
    backdrop-filter: blur(20px);
}
.special-card1 > ul{
    list-style: none;
}
.special-card2{
    top: 10rem;
    left: 15rem;
    background: rgba(255, 255, 255, 0.1);
}
/* main part styles */
main{
    /* width: 1450px; */
    /* margin: 0 auto; */
    background-color: black;
}
/* change habit styles */
.change-habit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habit-heading{
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}
.habit-advice{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.habit-heading{
    font-size: 45px;
}
.habit-advice p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 70px;
}
.change-habit h6 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1px;
    
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.round-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.round-card img {
    border-radius: 50%;
}
.round-card p{
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    line-height: 20px;
}
/*  */
.run-extra-mile{
    /* color: white; */
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px;
}
.text-style{
    width: 48%;
}
.run-extra-header{
    color: rgb(255, 255, 255);
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.run-extra-description{
    padding: 0;
    margin: 0;
    padding-bottom: 34px;
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
.run-img{
    /* width: 48%; */
    height: 15.5rem;
    border-radius: 18px;
    overflow: hidden;
}
.run-img img {
    width: 366px;
    transform: scale(1.7);
    /* height: 100%; */
}
/* BMI */
.bmi-text {
    width: 671px;
    padding-top: 30px;
    margin: 0 auto;
}

.bmi-part {
    background: rgb(34, 34, 34);
    padding: 15px;
}

.bmi-part  h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    padding-bottom: 15px;
}


.bmi-part-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.bmi-chart-calc table {
    max-width: 310px;
    border-collapse: collapse;
    margin-top: 50px;
}

.bmi-chart-calc th, .bmi-chart-calc td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.bmi-chart-calc th {
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
}

.bmi-chart-calc td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}


.bmi-calculator {
    max-width: 577px;
}

.bmi-calculator .bmi-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 30px 0px;
}

.bmi-calculator input, .bmi-calculator  {
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
}

.bmi-calculator #activity {
    grid-column: span 2;
}
/*  */
.meet-our-team{
    padding: 88px 0;
}
.meet-header{
    text-align: center;
    margin-bottom: 58px;
}

.meet-header h2{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.meet-header p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.meet-team-image{
    width: 1060px;
    margin: 0 auto;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    

}
.team-img{
    grid-column: span 1;
    position: relative;
}
.meet-trainee{
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.meet-trainee h4 {
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 120%;
    color: #ffffff;
    margin-left: 19px;
    margin-bottom: 3px;
}
.meet-trainee p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
    margin-left: 19px;
}
.meet-team-image img {
    width: 100%;
    border-radius: 18px;
    
}
/*  */
.footer {
    background-color: rgb(35, 35, 35);
    padding-top: 50px;
    padding-bottom: 25px;
}
.content{
    margin: 0 auto;
}
.footer-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;    
}
.footer-logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}
.footer-text1  {
    width: 48%;
}

.footer-text1 > h1 {
    font-size: 70px;
    font-weight: 800;
    padding-bottom: 10px;

}
.footer-text1 p {
    color: rgba(255, 255, 255, 0.5);
}
.footer-text2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%
}

.footer-list1, .footer-list2 {
    width: 180px;
}

.footer-text2 h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 250%;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 200%;
}

.footer-last > p {
    width: 325px;
    font-size: 19px;    
    margin: 2rem auto;
}