@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
*{
    margin: 0;
}
.btn-1{
    background-color: rgb(230, 83, 60);
    /* border: 5px solid rgb(230, 83, 60); */
    border-radius: 49px;
    font-weight: 600;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}
.btn-2{
    font-family: Inter;
    color: rgb(255,255,255);
    font-size: 1rem;
    font-weight: 600;
    background: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 42px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.btn-3{
    font-family: Inter;
    color: rgb(255,255,255);
    font-size: 1rem;
    font-weight: 600;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255,255,255);
    border-radius: 42px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.text-style-1{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.875rem;
}
.text-style-2{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;  
}
.text-style-3{
    color: rgb(255,255,255);
    font-size: 2.25rem;
    font-weight: 900;
}
.text-style-4{
    color: rgb(255,255,255);
}

/* header styles */
.header-bg{
    background: linear-gradient(to top, rgb(17, 17, 17),rgba(119, 119, 119, 0) 1000%);
}
.navbar {
    /* margin-left: 11.87rem;
    margin-right: 11.87rem; */
    padding-top: 3.65625rem;
    color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.box1{
    list-style: none;
    display: flex;
    align-items: center;
    border: 1px solid rgb(255,255,255,0.1);
    border-radius: 49px;
    gap: 2.9375rem;
    padding: 2px;
    padding-right: 1.25rem;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.banner-header{
    margin-top: 1.5rem;
    font-family: Inter;
    color: rgb(255,255,255);
    height: 17.625rem;
    width: 32%;
}
.shape{
    font-family: miama;
    font-weight: 400;
    font-size: 4.875rem;
}
.get-body{
    font-weight: 900;
    font-size: 4.875rem;
    margin: 1.75rem 0;
}

.description{
    padding-bottom: 1.75rem;
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.banner-photo{
    position: relative;
}
.special-card1{
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    text-align: left;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 55%;
    height: 12%;
    padding: 0.5rem;
    position: absolute;
    top: 27rem;
    right: 16rem;
    backdrop-filter: blur(20px);
}
.special-card1 > ul{
    list-style: none;
}
.special-card2{
    top: 10rem;
    left: 15rem;
    background: rgba(255, 255, 255, 0.1);
}
/* main part styles */
main{
    /* width: 1450px; */
    /* margin: 0 auto; */
    background-color: black;
}
/* change habit styles */
.change-habit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habit-heading{
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}
.habit-advice{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.habit-heading{
    font-size: 45px;
}
.habit-advice p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 70px;
}
.change-habit h6 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1px;
    
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.round-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.round-card img {
    border-radius: 50%;
}
.round-card p{
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    line-height: 20px;
}
/*  */
.run-extra-mile{
    display: flex;
    align-items: center;
    width: 1150px;
    height: 330px;
    background-color: rgba(48,48,48, 1);
    border-radius: 20px;
    gap: 30%;
    margin: 0 auto;
    
}
.run-img {
    width: 35%;
    border-radius: 20px;
}
.text-style{
    color: rgb(255, 255, 255);
    width: 35%;
    
}
.text-style > h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-style > p {
    line-height: 25px;
    margin-bottom: 30px;
}